.new-user {
    display: inline;
    margin-top: 20px;
  }
  
  a {
    text-decoration: none;
    font-size: 1.6em;
    color: rgb(94, 83, 65);
  }
  
  a:hover {
    color: rgb(194, 182, 161);
    transition-duration: .3s;
  }
  
  .table {
      margin-top: 30px;
  }
  
  .btn {  
    margin: 3px 7px;
    padding: 10px;
  }
  
  h1 {
    margin: 30px;
  }