<footer class="text-center">
  <hr>
  <br>
  <p>Team project for Engineering Software Lab d.o.o. , part of
    <i><a title="Visit Website" target="_blank" href="https://www.eng.it/en/">Engineering Ingegneria Informatica S.p.A</a></i>&nbsp;
    <img src="https://media.licdn.com/dms/image/C4E0BAQE6oGgEwa_8fQ/company-logo_200_200/0?e=2159024400&v=beta&t=rR8RBVABLT39C4NrtOxZR1taHCEqtJ06URZdLAaVbvA"
      width="33px" alt="eng logo">
  </p>
  <p>
    Project done by: <br>
    <strong> Tamara Dragović &nbsp; | &nbsp; Milorad Dakić &nbsp; | &nbsp; Nikola Đekić &nbsp; | &nbsp;
      Stefan Atanasković &nbsp; | &nbsp; Željko Jeličić (c) </strong>
    <br>
    &copy; March 2019
  </p>
</footer>
