<h1>Pending comments</h1>

<table class="table table-hover" *ngIf="isEmpty()">
  <tbody>

    <!-- test row tabela -->
    <tr class="row" *ngFor="let comment of pendingComments">
      <td class="col-md-1"> <i class="fas fa-user"></i>&nbsp;{{comment.commentator}}</td>
      <td class="col-md-2">{{comment.blog.title}}</td>
      <td class="col-md-4">{{comment.text}}</td>
      <td class="col-md-2">{{comment.date | date}}</td>
      <td class="col-md-3">
        <button class="btn btn-success" (click)="approveComment(comment.commentId)"><i class="far fa-check-circle"></i> Approve</button>
        <button class="btn btn-danger" (click)="deleteComment(comment.commentId)"><i class="far fa-times-circle"></i> Delete</button>
      </td>
    </tr>
    {{errMsg}}
  </tbody>
</table>
