.blog, .blogTitle, .blogSubtitle {
    width: 100%;
    padding: 8px;
    border: 1px solid rgb(86, 218, 86);
  }
  
  .blogSubtitle {
    height: 70px;
  }
  
  select {
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(86, 218, 86);
  }

  .btn-secondary {
    margin-bottom: 50px;
    margin-left: 15px;
  }

  .error {
    color: #f00;
  }
  